

<div class="row">
  <div class="col">
    <form class="" action="/person" method="GET">
      <div class="form-group">
          <input type="search" class="form-control" name="q" placeholder="Search">
      </div>
    </form>
  </div>
</div>

<div class="accordion" id="accordionExample">
  {{#each object_list}}
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{@index}}" aria-expanded="true" aria-controls="collapse{{@index}}">
            {{this.name}}
          </button>
        </h2>
      </div>
      <div id="collapse{{@index}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              {{this.dob}}
            </div>
            <div class="col">
              <button type="button" class="btn btn-sm btn-info m-2 float-right" name="button">Edit</button>
              <button type="button" class="btn btn-sm btn-danger m-2 float-right" name="button">Delete</button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{#each this.phonenumber}}
                <p>{{this}}</p>
              {{/each}}
            </div>
            <div class="col">
              {{#each this.email}}
                <p>{{this}}</p>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
